.slick-slider {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  color: #000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}
img {
  max-width: 100%;
}
.accent {
  color: #1abb9c;
}
.subtitle {
  padding: 0 20px;
  font-size: 16px;
  color: #606060;
  font-weight: 800;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.subtitle:after,
.subtitle:before {
  content: "";
  display: block;
  width: 82px;
  height: 1px;
  background-color: #e1e1e1;
  margin: 0 15px;
  display: inline-block;
}
.green {
  font-size: 12px;
  line-height: 26px;
  color: #1abb9c;
  font-weight: 500;
}
.anim {
  -webkit-animation-name: animate;
  animation-name: animate;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
    left: -200px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    left: -200px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
.footer__head {
  padding: 70px 0;
  background: #373737;
}
.footer__head_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 50px;
}
@media (max-width: 767px) {
  .footer__head_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    padding: 0 10px;
  }
}
@media (max-width: 424px) {
  .footer__head_items {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.footer__head_contacts li {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__head_contacts a {
  font-size: 14px;
  line-height: 24px;
  color: #cacaca;
  font-weight: 500;
}
.footer__head_adress,
.footer__head_email,
.footer__head_telefon {
  position: relative;
}
.footer__head_adress:before,
.footer__head_email:before,
.footer__head_telefon:before {
  content: "";
  cursor: pointer;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-right: 5px;
}
.footer__head_adress:before {
  background: url(../img/icons/1626522331.svg) no-repeat top/cover;
}
.footer__head_telefon:before {
  background: url(../img/icons/1626523767.svg) no-repeat top/cover;
}
.footer__head_email:before {
  background: url(../img/icons/1626523725.svg) no-repeat top/cover;
}
.footer__head_title,
.footer__head p {
  font-size: 14px;
  line-height: 22px;
}
.footer__head_title {
  color: #f0f0f0;
  font-weight: 700;
}
.footer__head p {
  margin: 40px 0;
  color: #cacaca;
  font-weight: 500;
}
@media (max-width: 424px) {
  .footer__head p {
    margin: 20px 0;
  }
}
.footer__bottom {
  background: #333;
  padding: 40px 0;
  font-size: 14px;
  line-height: 22px;
  color: #cacaca;
  font-weight: 500;
}
.header {
  background-color: #f5f5f5;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}
@media (max-width: 992px) {
  .header__box {
    padding: 5px;
  }
}
.header__link,
.header__logo {
  text-transform: uppercase;
}
.header__logo {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #414141;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 0 8px;
  color: #e9e9e9;
  font-family: Bebas Neue;
}
.header__links,
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__links {
  transition: 0.7s;
}
@media (max-width: 992px) {
  .header__links {
    left: -100%;
    position: fixed;
    padding: 30px;
    top: 0;
    bottom: 0;
    flex-direction: column;
    background: #1abb9c;
    justify-content: space-between;
    z-index: 3;
  }
}
.header__links.active {
  width: 80%;
  left: 0;
}
.header__link {
  margin-left: 50px;
  font-size: 13px;
  color: #606060;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s;
}
.header__link:hover {
  color: #1abb9c;
}
@media (max-width: 992px) {
  .header__link {
    color: #e9e9e9;
  }
}
.header__burger {
  display: none;
  padding: 10px;
}
.header__burger.active span {
  transform: rotate(140deg);
}
.header__burger.active span:before {
  opacity: 0;
}
.header__burger.active span:after {
  transform: rotate(85deg);
  bottom: 0;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}
.header__burger span {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 3px;
  background: #000;
  transition: 0.4s;
}
@media (max-width: 992px) {
  .header__burger span {
    display: block;
  }
}
.header__burger span:before {
  top: 8px;
}
.header__burger span:after,
.header__burger span:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: #000;
}
.header__burger span:after {
  bottom: 8px;
}
.main-screen {
  padding: 70px 0;
}
@media (max-width: 997px) {
  .main-screen {
    padding: 40px 0;
  }
}
@media (max-width: 426px) {
  .main-screen {
    padding: 20px 0;
  }
}
.main-screen__title {
  font-size: 35px;
  color: #606060;
  font-weight: 800;
}
.main-screen__text {
  font-size: 25px;
  color: #606060;
  font-weight: 300;
}
.main-screen__slide1,
.main-screen__slide2 {
  padding: 275px 0;
  background: url(../img/main.png) no-repeat top/cover;
}
.main-screen__subtext,
.main-screen__text-up {
  padding: 5px;
  background: #fff;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 20.5%;
}
.main-screen__text-up {
  max-width: 300px;
  text-transform: uppercase;
}
.main-screen__subtext {
  max-width: 350px;
  top: 75%;
}
.slick-arrow {
  position: absolute;
}
.slick-next,
.slick-prev {
  display: none;
  cursor: pointer;
  top: 50%;
  z-index: 1;
  border: none;
  width: 35px;
  height: 35px;
  background-color: hsla(0, 0%, 100%, 0.9490196078);
}
.slick-prev {
  left: 5%;
}
.slick-next {
  z-index: -1;
}
.work {
  padding: 50px 0;
}
.work__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 10px;
}
@media (max-width: 997px) {
  .work__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 426px) {
  .work__items {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}
.work__item {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  border: 3px double #e1e1e1;
  position: relative;
}
@media (max-width: 426px) {
  .work__item {
    margin: 0 auto;
  }
}
.work__text {
  max-width: 225px;
  width: 100%;
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
  font-weight: 500;
  margin: 0 auto;
}
.work__subtitle-itme {
  text-transform: uppercase;
  margin: 25px 0 10px;
}
.process {
  padding: 50px 0;
  background: url(../img/tablet.jpg) no-repeat 50% / cover;
}
.process__subtitle {
  color: #fff;
}
.process__text {
  max-width: 885px;
  width: 100%;
  margin: 20px auto;
  font-size: 14px;
  color: #d0d0d0;
  font-weight: 500;
  text-align: center;
}
.process__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 426px) {
  .process__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 2px solid #1abb9c;
  position: relative;
}
.process__item:hover {
  background-color: #1abb9c;
}
.recents {
  padding: 80px 0;
}
.recents__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .recents__items {
    flex-wrap: wrap;
  }
}
.recents__item {
  text-align: center;
  flex: 1 0 33.333%;
}
@media (max-width: 426px) {
  .recents__item {
    flex: 1 0 100%;
  }
}
.recents__title {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 26px;
  color: #606060;
  font-weight: 800;
}
.recents__description {
  max-width: 336px;
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
  font-weight: 500;
  margin: 0 auto;
}
.think {
  padding: 90px 0;
  background: url(../img/bgThink.png) no-repeat top/cover;
}
.think__subtitle {
  color: #fff;
  margin-bottom: 40px;
}
.think__autor,
.think__text {
  text-align: center;
}
.think__text {
  margin: 0 auto;
  padding: 0 10px;
  font-size: 20px;
  line-height: 35px;
  color: #d8d8d8;
  font-weight: 300;
  cursor: pointer;
}
.think__autor {
  font-size: 12px;
  line-height: 22px;
  color: #1abb9c;
  font-weight: 800;
  text-transform: uppercase;
  margin: 15px 0;
}
.think .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}
.think .slick-dots li {
  border: 1px solid #fff;
  opacity: 0.5;
  width: 15px;
  height: 15px;
}
.think .slick-dots li.slick-active {
  color: #fff;
  opacity: 1;
}
.journal {
  padding: 80px 0;
}
.journal__subtitle {
  margin-bottom: 40px;
}
.journal__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .journal__items {
    flex-wrap: wrap;
  }
}
.journal__item {
  margin: 0 auto;
  flex: 1 0 33.333%;
}
@media (max-width: 767px) {
  .journal__item {
    max-width: 400px;
    margin: 0 auto;
    flex: 1 0 100%;
  }
}
.journal__item_box {
  margin: 20px 0;
}
.journal__item_box,
.journal__item_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.journal__item_date {
  font-size: 20px;
  line-height: 14px;
  color: #7a7a7a;
  width: 60px;
  height: 60px;
  border: 1px solid #7a7a7a;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.journal__item_date p {
  margin-top: 13px;
  text-transform: uppercase;
}
.journal__item_text {
  margin-left: 15px;
}
.journal__item_text h2 {
  font-size: 16px;
  line-height: 26px;
  color: #606060;
  font-weight: 800;
}
.journal__item_description {
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
  font-weight: 500;
}
